<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"       
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd"
         >


	<!-- realm身份认证和授权 -->
	<bean id="suppliesRealm" class="com.supplies.shiro.realm.SuppliesRealm">
		<!-- 将凭证匹配器设置到realm中，realm按照凭证匹配器的要求进行散列 -->
		<property name="credentialsMatcher" ref="credentialsMatcher"/>
	</bean>
	
	<!-- 凭证匹配器 -->
	<bean id="credentialsMatcher"
		class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
		<property name="hashAlgorithmName" value="md5" />
		<property name="hashIterations" value="1" />
	</bean>
	
	<!-- 缓存管理器 -->
	<bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManagerConfigFile" value="classpath:shiro-ehcache.xml"/>
	</bean>
	
	<!-- 会话Cookie模板  设置 sessionManager中的cookie-->
    <bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="sid"/> 
        <property name="httpOnly" value="true"/>
      <!--   过期时间 默认为 -1(浏览器关闭时过期) -->
        <property name="maxAge" value="-1"/>
    </bean>
    
    <!-- 会话Session ID生成器 -->
	<bean id="sessionIdGenerator" class="org.apache.shiro.session.mgt.eis.JavaUuidSessionIdGenerator"/>
    
    <!-- 会话DAO -->
    <bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.EnterpriseCacheSessionDAO">
        <property name="activeSessionsCacheName" value="shiro-activeSessionCache"/>
        <property name="sessionIdGenerator" ref="sessionIdGenerator"/>
    </bean>
    <!-- 使用自定义Session创建工厂 -->
    <bean id="onlineSessionFactory" class="com.supplies.shiro.session.OnlineSessionFactory"/>
	
	<!-- 会话管理器 -->
	<bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
		<!-- session失效时间 单位毫秒 -->
		<property name="globalSessionTimeout" value="1800000" />
		<property name="deleteInvalidSessions" value="true"/>
		<property name="sessionIdCookie" ref="sessionIdCookie" />
		<!-- 注入Session工厂 -->
		<property name="sessionFactory" ref="onlineSessionFactory" />
		<!-- 注入sessionDao -->
		<property name="sessionDAO" ref="sessionDAO"/>
	</bean>
	
	<!-- 会话验证调度器 检查session的有效性 -->
	<bean id="sessionValidationScheduler" class="org.apache.shiro.session.mgt.ExecutorServiceSessionValidationScheduler">
		 <!-- 间隔多少时间检查，不配置是60分钟 -->
	     <property name="interval" value="1800000"/>
	     <property name="sessionManager" ref="sessionManager"/>
	</bean>
	
	<!-- 记住我 cookie -->
	<bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
		<!-- rememberMe是cookie的名字 -->
		<constructor-arg value="rememberMe" />
        <!-- 记住我三天  单位(秒) -->
		<property name="maxAge" value="259200" />
	</bean>
	
	<!-- rememberMeManager管理,写cookie,取出cookie生成用户信息 -->
	<bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
		<property name="cookie" ref="rememberMeCookie" />
		 <!-- rememberMe cookie加密的密钥 建议每个项目都不一样 默认AES算法 密钥长度（128 256 512 位）-->
        <property name="cipherKey"
                  value="#{T(org.apache.shiro.codec.Base64).decode('3AvVhmFLUs0KTA3Kprsdag==')}"/>
	</bean>
	
	<!-- 自定义form过滤验证器 -->
	<bean id="verifyCodeFormAuthenticationFilter" class="com.supplies.shiro.filter.VerifyCodeFormAuthenticationFilter">
	<!-- 配置登录页面表单中的登录信息 默认就是 username,password,rememberMe 可以在此修改-->
		<property name="usernameParam" value="username" />
		<property name="passwordParam" value="password" />
		<property name="rememberMeParam" value="remberMe" />
		<property name="yzm" value="${yzm}" />
	</bean>
	
	<bean id="kickoutSessionControlFilter" class="com.supplies.shiro.filter.KickoutSessionControlFilter">
		<property name="cacheManager" ref="cacheManager"/>
		<property name="sessionManager" ref="sessionManager" />
	<!-- 	<property name="kickoutAfter" value="false"/>
        <property name="maxSession" value="2"/> -->
        <property name="kickoutUrl" value="/login.do" />
	</bean>
	
	<bean id="forceLogoutFilter" class="com.supplies.shiro.filter.ForceLogoutFilter" />

	<!-- securityManager安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="suppliesRealm" />
		<!-- 注入缓存管理器 -->
		<property name="cacheManager" ref="cacheManager"/>
		<!-- 注入session管理器 -->
		<property name="sessionManager" ref="sessionManager" />
		<!-- 注入rememberMeManager管理器 -->
		<property name="rememberMeManager" ref="rememberMeManager" />
	</bean>


	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/login.do" />
		<!-- <property name="successUrl" value="/index.do" /> -->
		<property name="unauthorizedUrl" value="/error.jsp" />
		<property name="filters">
			<map>
				<!-- 注册自定义验证器 -->
				<entry key="authc" value-ref="verifyCodeFormAuthenticationFilter"/>
				<entry key="kickout" value-ref="kickoutSessionControlFilter"/>
				<entry key="ForceLogout" value-ref="forceLogoutFilter"/>
			</map>
			
		</property>
		<property name="filterChainDefinitionMap" ref="filterMap">
		</property>
	</bean>
	
	
	<bean id="filterMap" class="com.supplies.security.ShiroDefinitionSectionMetaSource">
    <property name="filterChainDefinitions">
        <value>
        	/web/** = anon
			/yzm.do = anon
			/error.jsp = anon
			/registration.do = anon
			<!-- 	/login.jsp = anon -->
				<!-- 配置记住我或认证通过的可以访问的地址 -->
				<!-- /index.jsp = user
				/index.do = user -->
			 
        </value> 
    </property>
</bean>

<!-- Shiro生命周期处理器-->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />



	
</beans>